@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");
p, h1, h3, input, textarea, button {
  font-family: "Ubuntu", sans-serif; }

.work-profile {
  margin: 40px 100px; }
  .work-profile h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px; }
  .work-profile p {
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #333333; }
  .work-profile p::before {
    content: "- ";
    color: #F19932;
    font-size: 30px; }

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  margin: 0 100px;
  color: rgba(0, 0, 0, 0.9); }

.main-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

.info-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px 80px; }
  .info-block div {
    margin: 10px;
    padding: 5px;
    border-radius: 5px; }
  .info-block p {
    font-size: 11px;
    line-height: 13px;
    margin: 8px 0 0 0; }
  .info-block input {
    width: 350px;
    height: 35px;
    border: none;
    outline: none; }
  .info-block .info-block__groop-name:hover {
    outline: 3px solid gray; }
  .info-block .info-block__alias:hover {
    outline: 3px solid #f5bcbc; }
  .info-block .info-block__email:hover {
    outline: 3px solid #63A0F1; }
  .info-block :nth-child(n+4):hover {
    outline: 3px solid gray; }

.public-discription {
  display: flex;
  flex-direction: row;
  margin: 10px 100px; }
  .public-discription p {
    margin: 0; }

.work-groop-inside-discription, .work-groop-publick-discription {
  margin: 10px 100px;
  display: flex;
  flex-direction: column;
  background-color: #F8F7FA; }
  .work-groop-inside-discription p, .work-groop-publick-discription p {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    padding: 5px; }
  .work-groop-inside-discription textarea, .work-groop-publick-discription textarea {
    outline: none;
    border: none;
    background-color: #F8F7FA; }

#checkbox:hover::before {
  content: "✔";
  font-size: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #3C8AFB;
  border-radius: 2px; }

.buttons-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 20px 100px; }
  .buttons-block button {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    border-radius: 2px; }
  .buttons-block :nth-child(1) {
    width: 216px;
    height: 45px;
    background: #2F80ED;
    color: #FFFFFF;
    margin: 0 10px 0 0; }
  .buttons-block :nth-child(1):hover {
    background: #2974D9; }
  .buttons-block :nth-child(1):focus {
    background: #2F80ED;
    border: 2px solid rgba(47, 128, 237, 0.5); }
  .buttons-block :nth-child(1):active {
    background: #236ACB; }
  .buttons-block :nth-child(1):disabled {
    background: #236ACB; }
  .buttons-block :nth-child(2) {
    width: 92px;
    height: 45px;
    background: #E9E9E9;
    color: #333333;
    margin: 0 0 0 10px;
    border-radius: 2px; }
  .buttons-block :nth-child(3) {
    width: 231px;
    height: 45px;
    margin-left: auto;
    background: #E9E9E9;
    color: #333333; }
  .buttons-block :nth-child(3):hover {
    background: #DBDBDB; }
  .buttons-block :nth-child(3):focus {
    background: #E9E9E9;
    border: 2px solid #DBDBDB;
    border-radius: 2px; }
  .buttons-block :nth-child(3):active {
    background: #DBDBDB; }
  .buttons-block :nth-child(3):disabled {
    color: #999999;
    background: #C4C4C4; }

@keyframes bouncing {
  0% {
    bottom: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
  100% {
    bottom: 50px;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.1); } }
#allert {
  width: 473px;
  height: 140px;
  margin: 5px auto 5px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(251, 217, 44, 0.16);
  animation: bouncing 0.5s cubic-bezier(0.1, 0.25, 0.1, 1) 0s infinite alternate both; }
  #allert :nth-child(2) {
    margin: 0 10px 0 auto; }
  #allert h1 {
    margin: 0 0 0 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px; }
  #allert p {
    margin: 20px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 11px; }

/*# sourceMappingURL=style.css.map */
